<h1>商品一覧</h1>
<%= link_to "＋", new_admin_item_path %>
<table>
  <tr>
    <th>商品ID</th>
    <th>商品名</th>
    <th>税抜価格</th>
    <th>ジャンル</th>
    <th>ステータス</th>
  </tr>
  <% @items.each do |items| %>
  <tr>
    <td><%= items.id %></td>
    <td>
      <%= link_to admin_item_path(items.id) do %>
        <%= items.name %>
      <% end %>
    </td>
    <td><%= items.price %></td>
    <td><%= items.genre_id %></td>
    <td><%= items.is_active ? '販売中' : '販売停止中' %></td>
  </tr>
  <% end %>
</table>
<%= paginate @items %>