<div class="container" >
  <div class="row">
    <div class="col">
      <h2>管理者ログイン</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table>
          <tr class="field">
            <th><%= f.label "メールアドレス" %></th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
          <tr class="field">
            <th><%= f.label "パスワード" %></th>
            <td><%= f.password_field :password, autocomplete: "current-password" %></td>
          </tr>
          <tr class="actions">
            <th></th>
            <td><%= f.submit "ログイン" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
