<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-8 jumbotron text-center"><!--背景画像ある？!-->
      <p>ようこそ、ながのCAKEへ！<br/>
        このサイトは、ケーキ販売のECサイトになります。<br/>
        会員でない方も商品の閲覧はできますが、<br/>
        購入には会員登録が必須になります。
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row pull-left">
    <div class="col-md-3"></div>
    <div class="col-md-8">
      <h3>新着商品</h3>
      <div class="d-flex">
        <% @items.each do |item| %>
          <div class="mr-3">
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.get_image(200, 200) %>
            <% end %></br>
          <%= item.name %></br>
          <%= (item.with_tax_price).to_s(:delimited) %>
          </div>
        <% end %>
      </div>
      <div class="text-right">
        <%= link_to "全ての商品を見る>", items_path %>
      </div>
    </div>
  </div>
</div>